{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    @template local_comp_report_ext/group_competency_page

    Example context (json):
    {
        "courseid": 2,
        "has_group": true,
        "groups": [
            { "id": 1, "name": "Group A", "selected": true },
            { "id": 2, "name": "Group B", "selected": false }
        ],
        "competencies": [
            { "shortname": "Competency 1" },
            { "shortname": "Competency 2" }
        ],
        "students": [
            {
                "studentlink": "<a href='#'>Ali YÄ±lmaz</a>",
                "scores": [
                    { "rate": "85", "color": "green" },
                    { "rate": "45", "color": "orange" }
                ]
            }
        ],
        "totals": [
            { "rate": "65", "color": "blue" },
            { "rate": "55", "color": "red" }
        ]
    }
}}
<div class="local_comp_report_ext_group_report">
    <!-- Consolidated Tab Navigation -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link active font-weight-bold" href="#"><i class="fa fa-list-alt mr-1"></i> {{#str}}tab_by_competency, local_comp_report_ext{{/str}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link font-weight-bold text-muted" href="group_quiz_competency.php?courseid={{courseid}}"><i class="fa fa-pencil-square-o mr-1"></i> {{#str}}tab_by_quiz, local_comp_report_ext{{/str}}</a>
        </li>
    </ul>

    <form method="get" class="mb-3 d-flex align-items-center flex-wrap">
        <input type="hidden" name="courseid" value="{{courseid}}">
        <select name="groupid" class="custom-select w-auto mr-2">
            <option value="0">{{#str}}selectgroup, local_comp_report_ext{{/str}}</option>
            {{#groups}}
                <option value="{{id}}" {{#selected}}selected{{/selected}}>{{name}}</option>
            {{/groups}}
        </select>
        <button type="submit" class="btn btn-primary mr-2">{{#str}}show, local_comp_report_ext{{/str}}</button>
        {{#has_group}}
            {{#competencies.0}}
                <button id="btn-export-group-pdf-top" class="btn btn-outline-danger font-weight-bold shadow-sm">
                    <i class="fa fa-file-pdf-o mr-1"></i> {{#str}}exportpdf, local_comp_report_ext{{/str}}
                </button>
            {{/competencies.0}}
        {{/has_group}}
    </form>

    {{#has_group}}
        {{#competencies.0}}
        <div class="table-responsive">
            <table class="generaltable table table-bordered table-striped mt-3">
                <thead>
                    <tr>
                        <th>{{#str}}student, local_comp_report_ext{{/str}}</th>
                        {{#competencies}}
                            <th class="text-center">{{shortname}}</th>
                        {{/competencies}}
                    </tr>
                </thead>
                <tbody>
                    {{#students}}
                        <tr>
                            <td>{{{studentlink}}}</td>
                            {{#scores}}
                                <td class="text-center" style="color: {{color}}; font-weight: bold;">
                                    {{#rate}}%{{rate}}{{/rate}}
                                    {{^rate}}-{{/rate}}
                                </td>
                            {{/scores}}
                        </tr>
                    {{/students}}
                </tbody>
                <tfoot>
                    <tr class="table-secondary font-weight-bold">
                        <td>{{#str}}total, local_comp_report_ext{{/str}}</td>
                        {{#totals}}
                            <td class="text-center" style="color: {{color}};">
                                {{#rate}}%{{rate}}{{/rate}}
                                {{^rate}}-{{/rate}}
                            </td>
                        {{/totals}}
                    </tr>
                </tfoot>
            </table>
        </div>
        {{/competencies.0}}

        {{! Reusable AI Commentary & Focus Analysis Widget }}
        {{> local_comp_report_ext/ai_commentary_widget }}
    {{/has_group}}
</div>

{{#js}}
require(['jquery'], function($) {
    $('#btn-export-group-pdf-top').on('click', function(e) {
        e.preventDefault();
        var editedHtml = '';
        var aiContent = $('.ai-content-html');
        if (aiContent.length && aiContent.html().trim() !== '') {
            editedHtml = aiContent.html();
        }
        
        var form = $('<form>', {
            action: M.cfg.wwwroot + '/local/comp_report_ext/group_competency_pdf.php',
            method: 'POST',
            target: '_blank'
        });

        var params = {
            courseid: "{{courseid}}",
            groupid: "{{groupid}}",
            pdf_content: editedHtml
        };

        $.each(params, function(key, val) {
            form.append($('<input>', {
                type: 'hidden',
                name: key,
                value: val
            }));
        });

        $('body').append(form);
        form.submit();
        form.remove();
    });
});
{{/js}}
